@if (form && form.invalid && form.touched) {
  <div class="mt-1 text-xs text-red-500">
    @if (form.errors?.required) {
      {{ required }}
    }

    @if (form.errors?.minlength) {
      Actual written words is {{ form.errors?.minlength.actualLength }}.
      Required minimum words is {{ form.errors?.minlength.requiredLength }}
    }

    @if (form.errors?.email) {
      Please enter valid email address.
    }

    @if (form.errors?.pattern) {
      {{ pattern }}
    }

    @if (form.errors?.min) {
      Required minimum value is {{ form.errors?.min.min }}
    }
  </div>
}
